!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Skeletor
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container-fluid
      .row
        .col-lg-8.col-lg-offset-2
          = render 'shared/alerts'
      .row
        = yield :above_panel
        .col-lg-10.col-lg-offset-1
          .jumbotron
            %h1=yield(:title).blank? ? 'Skeletor' : yield(:title)
            %h2=yield(:subtitle).blank? ? 'Bootstrap your Rails project' : yield(:subtitle)
      .row
        .col-lg-10.col-lg-offset-1
          .panel.panel-primary
            -unless yield(:panel_title).blank?
              .panel-heading
                .panel-title
                  = yield :panel_title
            .panel-body
              = yield
            .panel-footer
              = yield :footer
    =javascript_tag do
      = yield :javascript
      $.material.init()
      $.material.input()
      $.material.ripples()
